@import "../../variable.scss";
@import "../../css-config/mixin.scss";

.shop-now-heading {
    margin-left: 3.5rem;
    margin-top: 2rem;
    font-size: 1rem;
    color: $gray-color;

    span {
        color: #333;
    }
}

.shop-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebar {
        width: 30%;
        border: 1px solid #fff;
        padding: 2rem;
    }

    .shop-now-wrapper {
        width: 70%;
        padding: 2rem;

        .shop-now-banner {
            background-image: url('../../../public/Images/banner-33.jpg');
            padding: 1.5rem;
            border-radius: 10px;

            h3 {
                font-size: 1.9rem;
                width: 40%;
            }

            p {
                color: $gray-color;
            }

            button {
                padding: .5rem 1rem;
                border: 1px solid $gray-color;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                background: #fff;
                
            }
        }

        .products {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: stretch;
            width: 100%;
            flex-wrap: wrap;
            padding: 0;       
        }
    }
}