@import '../../variable.scss';

.carousel {
  img {
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    color: black;
  }
}

.categories{
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 5px;
  .card{
    img{
      width:140px;
    }
    p{
      font-weight: 600;
      font-size: 14px;
    }
  }
}



.categoryBottomBanner{
  background-image: url("../../../public/Images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: aqua;
}
.products{
  display: flex;
  justify-content: space-around;
  row-gap: 20px;
  flex-wrap: wrap;
  align-items: stretch;
}
















