$purple-color: #634C9F;
$orange-color: #EB641E;
$red-color: #DC2626;
$green-color: #16A34A;
$black-color: #111827;
$gray-color: #9EA5B1;
$link-color: #587DE2;
$white-color:white;
$light-orange:#ffa500;